.title {
  font-size: 60px;
  font-weight: 700;
}

.contact-list {
  padding-left: 0;
}

p {
  font-size: 32px;
  font-weight: 500;
}

li {
  display: flex;
  margin-bottom: 10px;
}

.number {
  margin-left: auto;
}

.deleteBtn {
  margin-left: 20px;
  font-size: 30px;
  padding: 5px 20px;
  border-radius: 4px;
  align-self: center;
}

.deleteBtn:hover {
  cursor: pointer;
}
